.admin-body {
    display: flex;
    place-content: center;
    background-color: #fceed1;
    border: #2051c5;
    border-width: thick;
    border-style: double;
    border-radius: 10px;
}

.table-content {
    text-align: center;
    color:black;   

    }



.table-headers {
    justify-content: space-around;
}

.table-cell {
    padding: 1rem;
}

.table-cell.user-email:hover {
    cursor: pointer;
    color: #2051c5;
}
